$main-color: #61dafb;
$secondary-color: rgb(8, 126, 164);
$main-accent-color: whitesmoke;
$secondary-accent-color: rgb(188, 193, 205);
$main-background-color: rgb(35, 39, 47);
$secondary-background-color: rgb(52, 58, 70);
$zIndex-loading: 100;
$zIndex-popup: 1;

// Color variant
$color--scrim: #000000;
$color--surface-tint: #8848ba;
$color--surface: #faf4fc;
$color--on-secondary-container: #221829;
$color--on-surface-variant: #4b454d;
$color--on-surface: #1d1b1e;
$color--on-primary-container: #22033a;

// Custom colors
$color--green50: #09f61e;
$color--green40: #60fd6e;
$color--green30: #a6feae;
$color--green20: #b1f3b7;
$color--green10: #cffcd2;

$color--blue50: #279df1;
$color--blue40: #60bcfd;
$color--blue30: #88c8f6;
$color--blue20: #a8d8fa;
$color--blue10: #c7e7fe;

$color--yellow50: #f1e727;
$color--yellow40: #fdf560;
$color--yellow30: #f6f188;
$color--yellow20: #faf6a8;
$color--yellow10: #fefbc7;

$color--orange50: #f1b927;
$color--orange40: #fdd160;
$color--orange30: #f6d788;
$color--orange20: #fae3a8;
$color--orange10: #feeec7;

$color--pink50: #f12788;
$color--pink40: #fd60ac;
$color--pink30: #f688bd;
$color--pink20: #faa8d0;
$color--pink10: #fec7e1;
